.App {
  background: #000;
  display: grid;
  place-content: center;
}

main {
  aspect-ratio: 9/16;
  border-radius: 3px;
  max-width: 375px;
  width: 100vw;
  color: yellow;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.numbers {
  width: 80px;
  margin: 35px auto;
  text-align: center;
  color: black;
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  font-weight: 500;
  padding: 8px;
}

.number-value {
  font-size: 50px;
}

.subtitle {
  line-height: 1.4;
  letter-spacing: 2px;
}

.div-buttons {
  display: grid;
  row-gap: 8px;
}

.buttons-options {
  height: 70px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(175deg, yellow 57%, lime 100%);
}

@media (max-width: 600px) {
  main {
    max-width: 100%;
  }
}
